html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: white;
    padding: 10px;
    color: rgb(53, 54, 54);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 40px;
    list-style: none;
}

nav li a {
    color: rgb(56, 56, 55);
    text-decoration: none;
}


/* second secction banner */